.clients__logo {
  fill: currentColor;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.clients__item {
  flex-basis: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 385px) {
    flex-basis: calc((100% - 15px) / 2);
    &:nth-child(2n) {
      margin-left: 15px;
    }
  }
  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-child(2n) {
      margin-left: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 3);
    margin-bottom: 30px;
    &:nth-child(n + 2) {
      margin-left: 30px;
    }
    &:nth-child(4) {
      margin-left: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:nth-child(n + 2) {
      margin-left: 30px;
    }
    flex-basis: calc((100% - 5 * 30px) / 6);
  }
}

.clients__link {
  padding: 16px 31px;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color-text);
    color: var(--accent-color-text);
  }
}
