.header {
  background: var(--background-header);
  border-bottom: 1px solid #ececec;
}
.header__logo {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}
.header__logo > span {
  color: #2196f3;
}

.menu-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color-text);
  }
}

.current {
  color: var(--accent-color-text);
  &::after {
    display: flex;
    position: absolute;
    bottom: -1.2%;
    content: '';
    height: 4px;
    width: 100%;
    background-color: var(--accent-color-text);
    border-radius: 2px;
  }
}
.contact__item + .contact__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
}

.contact__info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color-text);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header > .container {
  display: flex;
  align-items: center;
}

.menu-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-list__item {
  margin-left: 50px;
  position: relative;
  &:first-child {
    margin-left: 0px;
  }
}

.contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    padding-left: 0px;
    align-items: center;
  }
}

.contact__item {
  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-right: 50px;
    }
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  &:hover {
    fill: var(--accent-color-text);
  }
}
.menu-open-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-close-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: 80%;
  margin-bottom: 8px;
  margin-right: 20px;
  &:hover,
  &:focus {
    fill: var(--accent-color-text);
  }
}
.open-icon {
  fill: rgba(33, 33, 33, 1);
}
.mob-menu {
  z-index: 5;
  top: 0;
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  padding-top: 21px;
  padding-bottom: 48px;
  margin-right: 25px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .container {
    margin-left: 40px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  }
}

.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu-list__link {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  line-height: 1, 17;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  &:hover,
  &:focus {
    color: var(--accent-color-text);
  }
}
.mob-contact__tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1, 17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-contact__mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1, 17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-contact__item + .mob-contact__item {
  margin-top: 32px;
}

.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
.mob-soc-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1, 22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-soc-list__item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    margin-left: 10px;
  }
}
.no.scroll {
  overflow: hidden;
}
